@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
p,div,a,span,h1,h2,h3{
  padding: 0px;
  margin: 0px;
  margin-bottom: 0px;
} 
.light-gray{
  color: #d1cfcf;
}
.fw-500{
  font-weight: 500 !important;
}
.fw-600{
  font-weight: 800;
}

.red{
  color: red;
}
.blue{
  color: blue;
}
.green{
  color: green;
}


.save{
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.accordion {
  
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.accordion-item {
  margin-top: 25px;
}

.inner-acc  {
  border: 1px solid rgb(177, 171, 171);
  
}

.curser{
  cursor: pointer;
}
.accordion-header {
  /* border-top: 3px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  /* background-color: #f1f1f1; */
  cursor: pointer;
  /* font-weight: bold; */
}

.accordion-toggle {
  font-size: 20px;
  /* line-height: 1; */
}

.accordion-content {
  padding: 15px;
  background-color: #fff;
}
.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 1px;
  border: 1.5px solid rgb(172, 166, 166);
}


textarea {
  overflow: hidden; /* Hides the scrollbar */
  -ms-overflow-style: none;  
  scrollbar-width: none;  /* Hides scrollbar in Firefox */
}

/* For WebKit-based browsers like Chrome and Safari */
textarea::-webkit-scrollbar {
  display: none;  /* Hides scrollbar in WebKit browsers */
}

.description{
  max-width: 600px;
}

.age-span{
  background-color: white;
}

.age-input{
 width: 50px !important;
}

.border-end{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.input-boder{
  border: 1px solid rgb(164, 160, 160) !important;
}
.name-input{
  width: 170px !important;
}

.modal-button{
  width: 80px !important;
  /* border: 1px solid gainsboro; */
}

.modal-cancel{
background-color: white !important;
border: 0.1px solid black !important;
}

.modal-footer, .modal-header{
  border: none !important;
}

.search-inputs{
  position:relative;
 
}
.search-inputs .search-control{
  height:45px; 
  border: 1px solid #817e7e;
  border-radius: 10px;
}

.form-inputs .form-control:focus{
  box-shadow:none;
  border:1px solid #000;
}
div .form-control:focus{
  box-shadow:none !important; 
  border:0.5px solid #000 !important;
}

.search-inputs i{
  position:absolute;
  left:18px;
  top:10px;
}